[defaults]
inventory          = inventory/hosts.yml
roles_path         = inventory/roles
remote_user        = cw
host_key_checking  = False
callbacks_enabled  = ansible.posix.timer, ansible.posix.profile_tasks

# Increase pipelining for better performance
pipelining = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
